

.list
{
    background-image: linear-gradient(0deg, #61E786, #5398BE 30%  );
    width: max(20%, 180px);
    height: 100%;
    z-index: 1;
    overflow: auto;


}





.page
{
    width: 100%;
    height: 100%;
    

}
.page *
{
    float:left;
    white-space: nowrap;
}

.wrapper
{
    position: relative;
    width: 100%;
    display: block;
}

.button
{
        
    width: 100%;
    height: max(9vh, 50px);
    font-weight: 800;
    font-size: max(2vw, 18px);
    transition: 0.3s;

}
.button:hover {
    background-color: rgba(100, 100, 100, 0.5)!important;
}

.srt
{
    font-size: max(1.8vw, 16px);

}

.trv
{
    font-size: max(1.7vw, 15px);

}

.canvas
{
    width: 100%;
    height: 100%;
    position: absolute;
}
.canvas *
{
    position: absolute;
}

.underList
{
    float:left;
    padding-top: 0px;
    box-sizing: inherit;
    height: 100%;
}

.placeholder
{
    height: 100%;
    width: 10%;
}

.content
{
    background-color: #ffffff;
    height: 100%;
    width: max(50%, 900px);
    overflow-y: hidden;
    position: absolute;
    left: 30%;

}

@media only screen and (max-width: 1290px) {
    .placeholder {
        width: 0px;
    }
    .content
    {
        left: max(20%, 180px);
    }
  }

.sortBtn
{
    float:right;
    margin-top: 20px!important;
}

.pauseBtn
{
    float:right;
    margin-top:  20px!important;
    margin-right: 10px!important;
}

.select
{
    width: 300px;
    margin-top: 10px!important;
    margin-left: 20px!important;
}

.explanation
{
    margin-top: 2%;
    margin-left: 10px;
    width:100%;
    height: 100%;
    
}

.algorithmTitle
{
    text-decoration: underline!important;
    cursor:pointer;
    color: black;
}

.explanationText
{
    white-space: normal;
}

.selectGen
{
    width: 100%;
    margin: 10px 0px 20px 0px!important;
}


